.cont {
    margin-bottom: 2rem;
    padding: 0 1.6rem;
    display: flex;
    min-height: 60vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 400;
    text-align: justify;

}

.cont-text h2 {
    font-size: 2vmax;
    margin-left: 50px;
    margin-top: 50px;
    color: #112332;
}

.cont-text p {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 50px;

}

.cont-contato {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.6rem;
}

.cont-contato i {
    font-size: 2rem;
    color: var(--color-yellow)
}

.cont-image {
    width: 50%;
    justify-content: center;
    display: flex;
    padding-top: 80px;
    margin-bottom: 50px;
}

.cont-image img {
    width: 75%;
    border-radius: 80px 0;
}