* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(48, 89, 201);
    --color-light: #ffffff;
    --color-not: #1013f5;
    --color-new: #25A3BA;
    --font-body: 'Poppins', sans-serif;
    --boder-radius: 20px;
    --transition: .5s
}

body {
    font-family: var(--font-body);
}

/* ********heder********* */
.header-page {
    color: var(--color-light);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.header-menu ul {
    display: flex;
    gap: 20px;
    font: 900;
    margin-right: 70px;
}

.header-span {
    background-color: var(--color-new);
    border-radius: var(--boder-radius) 10px 10px;
    padding: 5px;
}

.header-page h2 {
    font-size: 32px;
}

ul {
    font: 900;
    list-style: none;
    font-size: 17px;

}

a {
    text-decoration: none;
    color: var(--color-light);
    transition: var(--transition);
}

a:hover {
    color: #25A3BA;
}



.hero {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-light);
    text-align: center;

}

.hero h1 {
    font-size: 9vmin;
}

.hero p {
    font: 600;
    font-size: 20px;
}

.logo {
    width: 10%;
    margin-left: 30px;

}


.cont {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .50)),
        url(../imagens/silas-baisch-K785Da4A_JA-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    margin-bottom: 2rem;
    padding: 0 1.6rem;
    display: flex;
    min-height: 60vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 400;
    text-align: justify;

}

.cont-text h2 {
    font-size: 2vmax;
    margin-left: 70px;
    margin-top: 140px;
    color: var(--color-light);
}

.cont-text p {
    width: 80%;
    margin-left: 70px;
    margin-bottom: 10px;

    color: var(--color-light);

}

/* .cont-contato {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.6rem;
}

.cont-contato i {
    font-size: 2rem;
    color: var(--color-yellow)
} */

.cont-image {
    width: 50%;
    justify-content: center;
    display: flex;
    padding-top: 170px;
    margin-bottom: 10px;

}

.cont-image img {
    width: 70%;
    border-radius: 0px 80px;
}


.funcionalidades {
    color: #ffffff;
    margin-left: 70px;
    margin-right: 100px;

}

.funcionalidades h2 {
    margin-top: 60px;
}

.funcionalidades p {
    margin-top: 20px;
    text-align: justify;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .50)),
        url(../imagens/silas-baisch-K785Da4A_JA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.unt {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    margin-bottom: 2rem;
    padding: 0 1.6rem;
    display: flex;
    min-height: 60vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.unt-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 400;
    text-align: justify;

}

.unt-text h2 {
    font-size: 2vmax;
    margin-left: 30px;
    /* margin-top: 110px; */
    color: var(--color-light);
}

.unt-text p {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 10px;
    color: var(--color-light);
}

.unt-image {
    width: 50%;
    justify-content: center;
    display: flex;
    /* padding-top: 110px; */
    /* margin-bottom: 10px; */

}

.unt-image img {
    width: 60%;
    border-radius: 80px 0px;
}